*{
	padding: 0;
	margin: 0;
}

body{
	background: #dfe0db;
	font: normal 20px "Trebuchet MS", Helvetica, sans-serif;
}

header{
	border-top:6px solid #888;
	background: #dfe0db;
}

header h1{
	font: bold 3em 'Ubuntu Mono', "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

header h2{
	font: bold 4em "Trebuchet MS", Helvetica, sans-serif;
}

header h3{
	font: normal 4em 'Cookie', cursive;
	text-align: center;
}

nav{
	padding: 32px;
	background: #FFF;
}

.wrapper{
	padding:64px;
	margin: 0 auto;
	min-width: 380px;
	max-width: 580px;
}


.underline{
	text-decoration: underline;
}

/**
Cores
**/

.red{
	color:#e0716a;
}

.blue{
	color:#3280ac;
}

.yellow{
	color:#d7d246;
}
